
section {
    width: 80%;
    height: 800px;
    /* background-image: url("https://images.unsplash.com/photo-1491566102020-21838225c3c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=361&q=80");
    background-size: cover;
    background-position: top; */
    background: center/40% no-repeat url("https://images.unsplash.com/photo-1491566102020-21838225c3c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=361&q=80"), blueviolet  ;
    margin: 0 auto;

}

h1 {
    font-size: 100px;
    color: white;
}